./imu/build-uno
./autopilot/myArduPilot1.0/build-uno
./gcs/interfaQueue.pyc
./autopilot/Arduino.mk
./autopilot/build-uno
./autopilot/Common.mk
./autopilot/Makefile
*.pyc
./gcs/webGCS/gcs/__init__.pyc
linux/*.o
linux/UDPServer
