{% extends "base.html" %}

{% block search_form %}
{% endblock %}

{% block right_drop_down %}
{% endblock %}

{% block left_drop_down %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/contact.css')}}">
{% endblock %}


{% block content %}
{{util.flashed_messages()}}
<div class="container">

    <h3>{{ pageInfo.title }}</h3>
    {% for p in paragraph %}
	   <p>{{ p }}</p>
    {% endfor %}

    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}, extra_classes="form-contact") }}
   
</div>
{% endblock %}


