{% extends "base.html" %}

{% block search_form %}
{% endblock %}

{% block right_drop_down %}
{% endblock %}

{% block left_drop_down %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
        #map {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>
{% endblock %}




{% block scripts %}
{{super()}}
<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>  



<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet-src.js"></script>
<script src="{{url_for('.static', filename='js/leaflet-realtime.js')}}"></script>
<!--script src="{{url_for('.static', filename='js/leaflet-realtime.app.js')}}"></script -->

<script type="text/javascript">
var map = L.map('map'),
    realtime = L.realtime({
        //url: 'http://wanderdrone.appspot.com/',
        url: $SCRIPT_ROOT + 'random_gen',
        crossOrigin: true,
        type: 'json'
    }, {
        interval: 1000
    }).addTo(map);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

//L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
//   maxZoom: 18,
//   attribution: 'Map data &contentpy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
//       '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
//       'Imagery © <a href="http://mapbox.com">Mapbox</a>',
//   id: 'examples.map-20v6611k'
//}).addTo(map);


realtime.on('update', function() {
    map.fitBounds(realtime.getBounds(), {maxZoom: 12});
    console.log("debug", $SCRIPT_ROOT);
});

</script>  



<script  type=text/javascript>
    function executeQuery() {
	$.ajax({
            url: $SCRIPT_ROOT + 'random_gen',
            contentType: "application/json; charset=utf-8",
	    success: function(data) {
	        // do something with the return value here if you like
	        //console.log (data.lat, data.lon, data.alt, data.time);
		console.log(data);
		var data_time = new Date (data.time*1000);
		var data_geo = data.geo
		console.log (data_time.toString());
		console.log (data_geo);
	    }
	});
	setTimeout(executeQuery, 100000); // you could choose not to continue on failure...
    }

    $(document).ready(function() {
	// run the first time; all subsequent calls will take care of themselves
	setTimeout(executeQuery, 100000);
    });


</script>


{% endblock %}


{% block content %}
{{util.flashed_messages()}}
<div class="container-fluid">

<div class="row-fluid">

<div class="span5">
</div>
<div class="span7">
    <div id="map"></div>
   
</div>
</div>
</div>
{% endblock %}


